._wrapper {
    padding: 16px 24px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

._title{
    font-size: 32px;
    font-weight: 700;
}

._logo {
    height: 56px;
    width: 56px;
}