.bin-pannel{
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    left: -250px;
    transition-delay: 0.3s;
    transition-duration: 0.2s;
}

.bin-pannel._active{
    left: 0px;
}

.bin-pannel__icon{
    height: 32px;
    width: 24px;
    margin-right: 8px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.bin-pannel:hover > .bin-pannel__icon{
    height: 36px;
    width: 28px;
}

.bin-pannel__text{
    font-size: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.bin-pannel:hover > .bin-pannel__text {
    font-size: 24px;
}
