.sidebar{
    position: fixed;
    padding: 48px 0px;
    background: rgb(255, 127, 80);
    left: -10vw;
    top: 0;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    transition-duration: 0.2s;
}

.sidebar._active{
    left: 0px;
}

.sidebar__list{
    font-size: 32px;
    cursor: pointer;
}

.sidebar__item{
    display: flex;
    margin: 16px 0px;
    position: relative;
    left: -100px;
    opacity: 0;
    transition-duration: 0.2s;
}
.sidebar__item:nth-child(2){
    transition-delay: 0.1s;
}
.sidebar__item:nth-child(3){
    transition-delay: 0.2s;
    
}
.sidebar__item:before{
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    opacity: 0;
    height: 2px;
    background-color: #fff;
    width: 77%;
    transition-duration: 0.4s;
}

.sidebar__item:hover:before{
    opacity: 1;
}


.sidebar__item._active{
    left: 0px;
    opacity: 1;
}


.sidebar__item-icon{
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.bin-pannel{
    color: #fff;
    position: relative;
    left: -250px;
    transition-delay: 0.3s;
    transition-duration: 0.2s;
    display: flex;
    align-items: center;
}

.bin-pannel._active{
    left: 0px;
}


.bin-pannel__icon{
    height: 32px;
    width: 24px;
    margin-right: 8px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.bin-pannel:hover > .bin-pannel__icon{
    height: 36px;
    width: 28px;
}

.bin-pannel__text{
    color: #fff;
    font-size: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.bin-pannel:hover > .bin-pannel__text {
    font-size: 24px;
}


@media (max-width: 1000px) {
    .sidebar__list{
        font-size: 24px;
    }
}