.wrapper{
    position: fixed;
    padding: 48px 0px;
    background: rgb(255, 127, 80);
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.list{
    font-size: 32px;
}

.item{
    display: flex;
    margin: 16px 0px;
    position: relative;
    left: -100px;
    opacity: 0;
    transition-duration: 0.2s;
}
.item:nth-child(2){
    transition-delay: 0.2s;
}
.item:nth-child(3){
    transition-delay: 0.4s;
    
}
.item:before{
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    opacity: 0;
    height: 2px;
    background-color: #fff;
    width: 77%;
    transition-duration: 0.4s;
}

.item:hover:before{
    opacity: 1;
}


.item._active{
    left: 0px;
    opacity: 1;
}


.item-icon{
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.bin{
    color: #fff;
    display: flex;
    align-items: center;

}

.bin__icon{
    height: 32px;
    width: 24px;
    margin-right: 8px;
}

@media (max-width: 1000px) {
    .list{
        font-size: 24px;
    }
}