._wrapper{
    background-color: #fef6f2;
    padding: 16px;
    position: relative;
}

._form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

._input{
    margin: 16px 0px;
    min-height: 48px;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border: none;
    outline: none;
    transition-duration: 0.2s;
}

._input:hover{
    border-bottom: 3px solid coral;
}

._input::placeholder{
    color: coral;
    transition-duration: 0.2s;
}

._input:focus{
    background-color: #fff;
    border-bottom: 3px solid coral;
}
._input:focus::placeholder{
    color: rgb(0, 0, 0);
}

._calendarWrapper{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fef6f2;
}

._calendarIcon{
    height: 32px;
    width: 32px;
}

._btn{
    font-size: 16px;
    color: rgb(0, 0, 0);
    transition-duration: 0.2s;
}
._btn{
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 8px;
    width: 120px;
    color: coral;
}

._btn:hover{
    background-color: coral;
    color: #fff;
}