._wrapper{
    background-color: rgba(252, 204, 186, 0.183);
    padding: 16px;
}

._form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

._input{
    margin: 16px 0px;
    min-height: 48px;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border: none;
    outline: none;
    transition-duration: 0.2s;
}

._input::placeholder{
    color: coral;
}

._input:focus{
    background-color: #fff;
    border-bottom: 3px solid coral;
}
._input:focus::placeholder{
    color: rgb(0, 0, 0);
}

._btn{
    font-size: 16px;
    color: rgb(0, 0, 0);
    transition-duration: 0.2s;
}
._btn{
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 8px;
    width: 120px;
}

._btn:hover{
    background-color: rgba(255, 127, 80, 0.39);
}