._wrapper{
    padding: 16px;
    border-bottom: 2px solid coral;
    transition-duration: 0.2s;
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}
._wrapper:hover{
    background-color:  rgba(252, 204, 186, 0.438);;
    
}

._info_container{
    display: flex;
}

._checkbox_container{
    display: flex;
}


._label{
    display: flex;
    align-items: center;
    justify-content: center;
}

._text_body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
}

._text {
    font-size: 28px;
}

._date{
    font-size: 14px;
}

._pannel{   
}

._btn{
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 8px;
    width: 80px;
}

._btn:hover{
    background-color: coral;
}